#search-form {
  margin-bottom: 10px;
}
#contacts {
  margin-left: 10px;
  margin-bottom: 10px;
}
#groups {
  margin-left: 10px;
  margin-bottom: 10px;
}
.ms-Persona-details {
  padding-left: 0px;
}
.ms-Persona-details .ms-Button {
  margin-top: 10px;
  margin-bottom: 10px;
}

#loadingContacts.ms-Spinner {
  width: 80%;
  margin-left: 10px;
  margin-bottom: 10px;
  position: relative;
}

#search-form .ms-SearchBox.ms-SearchBox--commandBar {
  width: 100%;
}

.ms-CommandButton i{
  display: flex !important;
  flex-direction: column;
  list-style-type: none;
  padding: 15px;
  align-items: center;
}
.ms-CommandButton.ms-CommandButton--pivot:hover {
  background-color: lightgray;
}

.ms-landing-page__footer {
}
.ms-landing-page__footer--left {
  padding: 0px;
  line-height: 15px;
}
.ms-landing-page__footer--left .ms-Icon {
  padding: 15px;
}
/*.ms-landing-page__footer--left:active, .ms-landing-page__footer--left:hover {
  cursor: pointer;
}
*/